@import url(https://fonts.googleapis.com/css?family=Aldrich);
@import url(https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;700&display=swap);

.fontContent {
    font-family: 'Titillium Web', "å¾®è»Ÿæ­£é»‘é«”", Microsoft JhengHei !important;
}

.fontAorus {
    font-family: 'fontAORUS', 'Aldrich', "å¾®è»Ÿæ­£é»‘é«”", Microsoft JhengHei !important;
}

.fontAldrich {
    font-family: 'Aldrich', "å¾®è»Ÿæ­£é»‘é«”", Microsoft JhengHei !important;
}
