
@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/Store/HomeSlider_Layout.cshtml";
}



<div class="sliderContainer">
    <div class="progress">
        <div id="PrgressBar" class="bar"></div>
    </div>

    <div class="slider">

        <div class="box-1 box">
            <div class="bg"></div>
            <div class="details">
                <h1 style="font-size:60px;" class="fontAorus sliderH1">Carry Your Game</h1>
                <p class="fontContent sliderP">
                    AORUS 17 and 15 |  Super-portable Gaming Laptops
                    Gaming has never been so portable.
                    Powered by the next-generation microchips,
                    both performance and graphics are boosted to deliver fluid framerates.
                </p>
               <a href="/ProductList?category=laptops" class="Slider-See-More-Btn">See More</a>
            </div>
        </div>

        <div class="box-2 box">
            <div class="bg"></div>
            <div class="details">
                <h1 style="font-size:60px;">The Singularity of Power</h1>
                   <p>
                    Introducing the all-new lineup of GIGABYTE laptops.
                    From both AORUS and AERO, these next-generation models are built
                    to deliver the most capable power in the most portable manner.
                </p>

             <a href="~/ProductList?category=laptops" class="Slider-See-More-Btn">See More</a>
            </div>
        </div>
        <div class="box-3 box">
            <div class="bg"></div>
            <div class="details">
                <h1 style="font-size:60px;">The Singularity of Power</h1>
                  <p>
                    AORUS Z790 series gaming motherboards fully optimize the performance within the latest Intel® 13th generation processors with our most capable digital power design ever.
                    Before you would notice, the heat generated from the beastly power consumption is already dealt with by the full metal thermal solution.
                </p>

              <a href="/ProductList?category=motherboards" class="Slider-See-More-Btn">See More</a>
            </div>
        </div>
        <div class="box-4 box">
            <div class="bg"></div>
            <div class="details">
                <h1 style="font-size:60px;">ASSEMBLE YOUR TEAM</h1>
                   <p>
                    AORUS Graphics Cards reveal your style in either way of RGB lighting or LCD panel.
                    The reinforced durability now promises longer lifespan and better experience.

                    Apex of cooling. Apex in gaming.
                </p>
             <a href="/ProductList?category=all" class="Slider-See-More-Btn">See More</a>
            </div>
        </div>
        <div class="box-5 box">
            <div class="bg"></div>
            <div class="details">
                <h1 style="font-size:60px;">Fast and Fabulous</h1>
                        <p>
                    AERO 14 OLED | Super-thin Creator Laptop with Discrete Graphics
                    The next-gen performance levels up your productive workflows.
                    And you can carry your idea everywhere with a super-thin chassis.
                    Everything is so fast and fabulous with the all-new AERO 14 OLED.
                </p>
              <a href="~/ProductList?category=laptops" class="Slider-See-More-Btn">See More</a>
            </div>
        </div>

    </div>
    <div class="Slider-Button-Container">
        <button class="SliderBtn active" value="1"></button>
        <button class="SliderBtn" value="2"></button>
        <button class="SliderBtn" value="3"></button>
        <button class="SliderBtn" value="4"></button>
        <button class="SliderBtn" value="5"></button>

    </div>
    <svg xmlns="http://www.w3.org/2000/svg" class="sliderClick prev" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(0 91) rotate(-90)" fill="#fff" /></svg>
    <svg xmlns="http://www.w3.org/2000/svg" class="sliderClick next" width="56.898" height="91" viewBox="0 0 56.898 91"><path d="M45.5,0,91,56.9,48.452,24.068,0,56.9Z" transform="translate(56.898) rotate(90)" fill="#fff" /></svg>

</div>

<section data-v-eb150444="" class="aorus-container mb-5 fontContent" style="margin: 50px auto 0px !important;">
    <div data-v-eb150444="" class="template-left-title template-left-title-show">
        explore our PRODUCT
    </div>
    <div data-v-eb150444="" class="row">
        <div data-v-eb150444="" class="col-12 text-center">
            <div data-v-eb150444="" class="template-title">
                <h1 data-v-eb150444="" class="fontAldrich">
                    GAMING GEARS
                </h1>
            </div>
            <div data-v-eb150444="" class=" fontContent template-content">
                AORUS is a world leading brand in high-performance motherboards,
                graphic cards, laptops gaming hardware and systems.
                We are passionate about teaming up with gamers to fearlessly challenge
                the limits and win ultimate glory.
            </div>
        </div>
        <div data-v-eb150444="" class="col-12 product-line-div">
            <div data-v-3d1a4f76="" data-v-eb150444="" dir="ltr" class="slick-slider slick-initialized">
                <div data-v-3d1a4f76="" class="slick-list">
                    <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track slick-track-Cate" style="width: 6080px; opacity: 1; transform: translate3d(-1736px, 0px, 0px);">
                        <!--Slick Product List-->
                        <!--  for Display-->
                        <!--Monitors 1-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="-4" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=monitors" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming  Monitors" src="~/Image/StoreOriImage/Monitor.2ec4422a.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming  Monitors
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Gaming Peripherals 3-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="-2" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=laptops" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Peripherals" src="~/Image/StoreOriImage/Laptop.5a05a29f.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Laptops
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Premium Components 4-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=pc components" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Premium Components" src="~/Image/StoreOriImage/Peripherals.77068125.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Premium Components
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Gaming Motherboards 5-->
                        <!--End of for Display-->

                        <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false" class="slick-slide slick-active" style="outline: none; width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=motherboards" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Motherboards" src="/Image/StoreOriImage/Motherboard.6b87c3cf.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Motherboards
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Premium Graphics Cards 6-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="1" aria-hidden="false" class="slick-slide slick-active" style="outline: none; width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=graphic card" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Premium Graphics Cards" src="~/Image/StoreOriImage/Graphics.8b61a0c9.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Premium Graphics Cards
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Monitors 1-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="2" aria-hidden="false" class="slick-slide slick-active" style="outline: none; width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=monitors" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming  Monitors" src="~/Image/StoreOriImage/Monitor.2ec4422a.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming  Monitors
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Gaming Peripherals 3-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="-2" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=laptops" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Peripherals" src="~/Image/StoreOriImage/Laptop.5a05a29f.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Laptops
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Premium Components 4-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="5" aria-hidden="true" class="slick-slide" style="outline: none; width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=pc components" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Premium Components" src="~/Image/StoreOriImage/Components.15962053.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Premium Components
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Gaming Motherboards 5-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="6" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=motherboards" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Motherboards" src="~/Image/StoreOriImage/Motherboard.6b87c3cf.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Motherboards
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Premium Graphics Cards 6-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="7" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=graphic card" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Premium Graphics Cards" src="~/Image/StoreOriImage/Graphics.8b61a0c9.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Premium Graphics Cards
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Monitors 1-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="8" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=monitors" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming  Monitors" src="~/Image/StoreOriImage/Monitor.2ec4422a.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming  Monitors
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--  for Display-->
                        <!--Gaming Peripherals 3-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="10" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=pc peripherals" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Peripherals" src="~/Image/StoreOriImage/Peripherals.77068125.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Peripherals
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Premium Components 4-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="-2" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=laptops" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Peripherals" src="~/Image/StoreOriImage/Laptop.5a05a29f.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Laptops
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false" class="slick-slide slick-active" style="outline: none; width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=motherboards" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Motherboards" src="/Image/StoreOriImage/Motherboard.6b87c3cf.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Motherboards
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="7" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=graphic card" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Premium Graphics Cards" src="~/Image/StoreOriImage/Graphics.8b61a0c9.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Premium Graphics Cards
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--End of for Display-->
                        <!--End of Slick Product List-->

                    </div>
                </div>
            </div><div data-v-eb150444="" class="goToDiv">
                <div data-v-eb150444="" class="prevBtn prevBtn-Cate">
                    <img data-v-eb150444="" src="/Image/Slider/arrow.97e61046.svg" alt="" height="110" width="65">
                </div>
                <div data-v-eb150444="" class="nextBtn nextBtn-Cate">
                    <img data-v-eb150444="" src="/Image/Slider/arrow.97e61046.svg" alt="" height="110" width="65">
                </div>
            </div>
        </div>
    </div>
</section>

<section data-v-eb150444="" class="aorus-container mb-5 fontContent" style="margin: 50px auto 0px !important;">
    <div data-v-eb150444="" class="template-left-title template-left-title-show">
        Best Selling Product
    </div>
    <div data-v-eb150444="" class="row">
        <div data-v-eb150444="" class="col-12 text-center">
            <div data-v-eb150444="" class="template-title">
                <h1 data-v-eb150444="" class="fontAldrich">
                    Best Selling Product
                </h1>
            </div>
            <div data-v-eb150444="" class=" fontContent template-content">
                MIAODATA is a Best Kampung Gaming Store in Malaysia.
                We are selling various gaming high-perfomance spec to all of you.
                and also, provide a platform to all the gamer to selling their items as free.
                We are passionate about teaming up with gamers to fearlessly challenge
                the limits and win ultimate glory.
            </div>
        </div>
        <div data-v-eb150444="" class="col-12 product-line-div">
            <div data-v-3d1a4f76="" data-v-eb150444="" dir="ltr" class="slick-slider slick-initialized">
                <div data-v-3d1a4f76="" class="slick-list">
                    <div data-v-e4caeaf8="" data-v-3d1a4f76="" class="slick-track slick-track-Top" style="width: 6944px; opacity: 1; transform: translate3d(-1736px, 0px, 0px);">
                        <!--Slick Product List-->
                        <!--  for Display-->
                        <!--Monitors 1-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="-4" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="~/Home/Monitors" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming  Monitors" src="~/Image/StoreOriImage/Monitor.2ec4422a.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming  Monitors
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--Gaming Peripherals 3-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="-2" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=pc peripherals" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Peripherals" src="~/Image/StoreOriImage/Peripherals.77068125.png.webp" lazy="loading" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Peripherals
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Premium Components 4-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="-1" aria-hidden="true" class="slick-slide slick-cloned" style="width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=pc components" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Premium Components" src="~/Image/StoreOriImage/Peripherals.77068125.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Premium Components
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--Gaming Motherboards 5-->
                        <div data-v-e4caeaf8="" tabindex="-1" data-index="0" aria-hidden="false" class="slick-slide slick-active slick-current" style="outline: none; width: 350px;">
                            <div data-v-e4caeaf8="">
                                <div data-v-eb150444="" data-v-e4caeaf8="" tabindex="-1" class="slide" style="width: 100%; display: inline-block;">
                                    <div data-v-eb150444="" data-v-e4caeaf8="" class="product-div">
                                        <a data-v-eb150444="" data-v-e4caeaf8="" href="/ProductList?category=motherboards" class="GA-Gaming-Gears-Link">
                                            <div data-v-eb150444="" data-v-e4caeaf8="" class="box">
                                                <img data-v-eb150444="" data-v-e4caeaf8="" alt="Gaming Motherboards" src="/Image/StoreOriImage/Motherboard.6b87c3cf.png.webp" lazy="loaded" height="260" width="260">
                                                <div data-v-eb150444="" data-v-e4caeaf8="" class="name active">
                                                    <span data-v-eb150444="" data-v-e4caeaf8=""></span>
                                                    Gaming Motherboards
                                                </div>
                                            </div>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!--End of for Display-->
                        <div id="bestSell">
                        </div>





                        <!--End of Slick Product List-->

                    </div>
                </div>
            </div><div data-v-eb150444="" class="goToDiv">
                <div data-v-eb150444="" class="prevBtn prevBtn-Top">
                    <img data-v-eb150444="" src="/Image/Slider/arrow.97e61046.svg" alt="" height="110" width="65">
                </div>
                <div data-v-eb150444="" class="nextBtn nextBtn-Top">
                    <img data-v-eb150444="" src="/Image/Slider/arrow.97e61046.svg" alt="" height="110" width="65">
                </div>
            </div>
        </div>
    </div>
</section>

<section id="joinus" style="margin-top:100px" data-image-width="1920" data-image-height="1280" data-bottom-top="background-position: 50% 0vh;" data-top-bottom="background-position: 50% -20v">
    <div class="aorus-container pb-5">
        <div class="template-left-title fontAldrich template-left-title-show">
            Join us
        </div>
        <div class="row">
            <div class="col-12">
                <div class="title fontAldrich"> JOIN MIAODATA GAMING STORE </div>
                <br>
                <div class="content">
                    When you sign up for MIAODATA membership,
                    you'll instantly receive 10 bonus points that you can use to get discount when purchase.
                    Get started and sign up now.(Bonus System In Temporary Maintenance)
                </div>
                <div class="HomeBtncontainer">

                    <a class="HomeFootBtn fontAorus" href="~/CustomerLogin/Login" style="--color: #ff6400;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Log In
                    </a>
                    <a class="HomeFootBtn signUpBtn fontAorus" href="~/CustomerLogin/Login" style="--color: white;">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<script src="~/lib/jquery/dist/jquery.min.js"></script>


<script src="~/js/store/Store_Home_Slider.js?2"></script>


