@{
    ViewData["Title"] = "ProductsList";
    Layout = "~/Views/Shared/Store/ProductList_Layout.cshtml";
}



<div style="background: rgb(46, 46, 46); position: relative;">
    <div class="aorus-container p-0">
        <div style="position: relative; width: 100%;">
            <div data-v-e25b2d3c="" style="color:#fff" class="filter-choose-div">
                <div data-v-e25b2d3c="" style="right:0px !important" class="text-right">
                    <div data-v-e25b2d3c="" class="filterDivCloseBtn"></div>
                </div>
                <ul data-v-e25b2d3c="" class="side-menu">
                    <li data-v-e25b2d3c="" class="side-menu-li">
                        <div data-v-e25b2d3c="" class="choose-title allProduct active">
                            <!---->
                            <div data-v-7e7c0a7c="" class="side-menu-name">
                                <span data-v-7e7c0a7c="" class="checkBoxSpan active">
                                </span>
                                <span data-v-7e7c0a7c="" title="all"> ALL </span>
                            </div><!---->
                        </div>
                    </li>
                    <li data-v-e25b2d3c="" class="side-menu-li">
                        <div data-v-e25b2d3c="" class="choose-title">
                            <!---->
                            <h3 data-v-e25b2d3c=""> Aorus Gaming </h3>
                            <span data-v-e25b2d3c="" class="float-right text-center">
                                <i data-v-e25b2d3c="" class="fa fa-minus" style="font-size: 15px; height: 23px;display: none;"></i>
                            </span>
                            <span data-v-e25b2d3c="" class="float-right text-center">
                                <i data-v-e25b2d3c="" class="fa fa-plus" style="font-size: 15px; height: 23px; "></i>
                            </span>
                        </div>
                        <ul data-v-7e7c0a7c="" data-v-e25b2d3c="" class="side-menu-sub" style="display: none;">
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan"></span>
                                    <span data-v-7e7c0a7c="" title="motherboards"> Motherboards </span>

                                </div><!---->
                            </li>
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan">
                                    </span>
                                    <span data-v-7e7c0a7c="" title="graphic card">Graphic Card </span>
                                </div><!---->
                            </li>
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan "></span>
                                    <span data-v-7e7c0a7c="" title="monitors"> Monitors </span>

                                </div><!---->
                            </li>
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan "></span>
                                    <span data-v-7e7c0a7c="" title="laptops"> Laptops </span>

                                </div><!---->
                            </li>

                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan "></span>
                                    <span data-v-7e7c0a7c="" title="pc components"> PC COMPONENTS </span>

                                </div><!---->
                            </li>
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan "></span>
                                    <span data-v-7e7c0a7c="" title="pc peripherals"> PC PERIPHERALS </span>

                                </div><!---->
                            </li>
                        </ul>
                    </li>

                    <li data-v-e25b2d3c="" class="side-menu-li">
                        <div data-v-e25b2d3c="" class="choose-title">
                            <!---->
                            <h3 data-v-e25b2d3c="">Member Store </h3>
                            <span data-v-e25b2d3c="" class="float-right text-center">
                                <i data-v-e25b2d3c="" class="fa fa-minus" style="font-size: 15px; height: 23px;display: none;"></i>
                            </span>
                            <span data-v-e25b2d3c="" class="float-right text-center">
                                <i data-v-e25b2d3c="" class="fa fa-plus" style="font-size: 15px; height: 23px; "></i>
                            </span>
                        </div>
                        <ul data-v-7e7c0a7c="" data-v-e25b2d3c="" class="side-menu-sub" style="display: none;">
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan"></span>
                                    <span data-v-7e7c0a7c="" title="clothes"> Clothes </span>

                                </div><!---->
                            </li>
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan">
                                    </span>
                                    <span data-v-7e7c0a7c="" title="food">Food </span>
                                </div><!---->
                            </li>
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan "></span>
                                    <span data-v-7e7c0a7c="" title="watchs"> Watchs </span>

                                </div><!---->
                            </li>
                            <li data-v-7e7c0a7c="">
                                <div data-v-7e7c0a7c="" class="side-menu-name">
                                    <span data-v-7e7c0a7c="" class="checkBoxSpan "></span>
                                    <span data-v-7e7c0a7c="" title="shoes"> Shoes </span>

                                </div><!---->
                            </li>
                        </ul>
                    </li>

                </ul>


            </div><div data-v-5e0c66e7="" id="product-list-div" class="product-list-div">
                <!--Mobile View-->
                <div data-v-5e0c66e7="" class="container-fluid">
                    <div data-v-5e0c66e7="" class="row">
                        <div data-v-5e0c66e7="" class="col-12">
                            <div data-v-5e0c66e7="" class="filterBtnMobile">
                                <i data-v-5e0c66e7="" class="fa fa-filter"></i> Filter
                            </div>
                        </div>
                    </div>

                    <div data-v-5e0c66e7="" id="Product-Container" class="row">

                        <div data-v-5e0c66e7="" class="col-12 text-right mb-3">
                            <!---->
                        </div>
                        <!-- Foreach Product -->
                    </div>
                    <div data-v-5e0c66e7="" class="row productAnime" style="display: none;">
                        @for(int i =0; i<9;i++){
                            <div data-v-5e0c66e7="" class="col-product">
                                <div data-v-5e0c66e7="" class="productBoxAnime"></div>
                            </div>
                        }
                
                    </div>
                    <div data-v-5e0c66e7="" class="row" style="">
                        <div data-v-5e0c66e7="" class="col-12 text-right">
                            <button data-v-5e0c66e7="" disabled="disabled" class="pageBtn first"> First </button>
                            <button data-v-5e0c66e7="" disabled="disabled" class="pageBtn previous"> Previous </button>

                            <button data-v-5e0c66e7="" class="pageBtn next"> Next </button>
                            <button data-v-5e0c66e7="" class="pageBtn last"> Last </button>
                        </div>
                    </div>
                </div>
                <!---->
            </div>
        </div>
    </div><!---->
</div>

<div class="custom-model-main ">
    <div class="custom-model-inner">
        <div class="custom-model-wrap">
            <div class="pop-up-content-wrap fontAorus">
                has reach the quantity limit!
            </div>
        </div>
    </div>
    <div class="bg-overlay"></div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/store/Store_ProductList.js?3"></script>