@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/Customer/Profiles_Layout.cshtml";
}


<div class="container mb-2" style="padding-top:100px;padding-bottom:100px;min-width:800px;max-width:1300px;">
    <div class="row">
        <div class="col-xs-12">

            <div class="h1 page-title text-center mt-5 mb-2">Change Password</div>
        </div>


        <div class="col-xs-12 col-md-3 my-2 text-center">
            <!-- <div class="bg-gray-333 p-3 rounded">
                <div class="member-img">

                                                <img src="https://member.aorus.com/images/pic-default.jpg" alt="">
                                            </div>

                <h3>Seghot</h3>
            </div> -->
        </div>


        <div class="col-xs-12  col-md-6">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    <div id="changePasswordForm" class="row">
                        <div class="col-xs-12 col-sm-12 aorus-input">
                       
                            <input type="password" class="form-control chgpdinput" name="old_pwd" id="old_pwd" maxlength="20" minlength="8">
                            <span class="title">Old Password</span>
                            <label>Show Password</label>
                            <input style="width:15px;height:15px" class="togglePassword" type="checkbox" />

                        </div>
                        <div class="col-xs-12 col-sm-12 aorus-input">
                       
                            <input type="password" class="form-control chgpdinput" name="new_pwd" id="new_pwd" maxlength="20" minlength="8">
                            <span class="title">New Password</span>

                            <span class="mes" style="color:#ff6400;">Password must be 8 to 20 characters, with a least one numeric character [0-9] and one letter. Space is not allowed.</span>
                       
                            <label>Show Password</label>
                            <input style="width:15px;height:15px" class="togglePassword" type="checkbox" />

                        </div>
                        <div class="col-xs-12 col-sm-12 aorus-input">
                          <input type="password" class="form-control chgpdinput" name="new_pwd_confirmation" id="new_pwd_confirmation" maxlength="20" minlength="8">
                              <span class="title active">Confirm New Password</span>
                          
                            <span class="mes" style="color:#ff6400;">Passwords must match.</span>
                            <label>Show Password</label>
                            <input style="width:15px;height:15px" class="togglePassword" type="checkbox" />


                        </div>
                        <div id="errorChangePwd" style="display:none;">
                            <div class="col-xs-12 mt-3">
                                <div class="error-mes py-1 px-2">
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 mt-2 text-center">
                            <button class="btn btn-orange px-5 sub-btn" id="changePwdBtn">Save</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<div class="custom-model-main ">
    <div class="custom-model-inner">
        <div class="closeSuccess-btn">×</div>
        <div class="custom-model-wrap">
            <div class="pop-up-content-wrap fontAorus">
                New password has been save!<br /> Close this window login again
            </div>
        </div>
    </div>
    <div class="bg-overlay"></div>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/customer/customerInputCheck.js?3"></script>
<script>
    $(function () {
        $(".togglePassword").click(function () {

            var x = $(this).parent().find(".chgpdinput");

            if (x.attr("type") === "password") {
                x.attr("type", "text");
            } else {
                x.attr("type", "password");

            }
        })
    })
</script>

