
@{
    ViewData["Title"] = "ForgotPass";
    Layout = "~/Views/Shared/Seller/Login_Layout.cshtml";
}

<div class="form" style="margin:130px auto;">


    <div class="tab-content">

        <h1>Reset Password</h1>
        <p style="line-height: 2rem;font-size:18px;">
            Enter your email or phone number to receive One-Time-Password to reset your password.
        </p>

        <form style="margin-top:10px">

            <div class="field-wrap" style="padding-top:10px;">
                <label class="Loginlabel">
                    Email/Phone Number<span class="req">*</span>
                </label>
                <input id="EmailPhoneInput" maxlength="20" class=" Logininput" type="text" required autocomplete="off" />
                <span class="title"></span>

            </div>

            <div class="field-wrap" style="display:none">
                <label class="Loginlabel">
                    OTP password<span class="req">*</span>
                </label>
                <input id="OtpPass" maxlength="6" class=" Logininput" type="text" required autocomplete="off" />
                <span class="title"></span>

            </div>


            <button disabled id="sendOTP" type="button"
                    style="width:50%;margin:auto;"
                    class="button button-block" />
            Send
            </button>
            <button disabled id="ResetPassword" type="button"
                    style="width:50%;margin:auto;display:none"
                    class="button button-block" />
            Reset
            </button>
        </form>

        <div id="errorReset" style="display:none;">

            <div class="error-mes py-1 px-2">
                <p>

                </p>

            </div>

        </div>
        <div class="col-xs-12 mt-3 text-center returnTo">
            or return to <a href="/sellerLogin/Login">Log In</a>
        </div>

    </div><!-- tab-content -->

</div> <!-- /form -->


<div class="custom-model-main ">
    <div class="custom-model-inner">
        <div class="closeSuccess-btn">×</div>
        <div class="custom-model-wrap">
            <div class="pop-up-content-wrap fontAorus">
                Password Reseted! <br /> Password already send to verify method
            </div>
        </div>
    </div>
    <div class="bg-overlay"></div>
</div>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/seller/Login.js?2"></script>
